/Avito.sln
/Avito.sln.DotSettings.user
/Avito.v11.suo
packages
_ReSharper.Avito
App.config
AvitoConsole.csproj
Settings.cs
bin
obj
Properties
AvitoApp.csproj
AvitoLibrary.csproj
AvitoLibrary.csproj.user
packages.config
Avito.csproj.user
Captcha.csproj
Captcha.csproj.user
